__pycache__/
*.py[cod]
/.eslintcache

/.log
/.eggs
/.tox

/*.egg-info
/dist

# python virtual env
.env/
.venv/

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage*
coverage.xml
.nox/

# Sphinx documentation
docs/_build/
docs/python_apigen_generated/
docs/cpp_apigen_generated/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/

# NPM modules
/node_modules/

# Built version
/sphinx_immaterial/partials
/sphinx_immaterial/*.html
/sphinx_immaterial/.icons
/sphinx_immaterial/static
/sphinx_immaterial/bundles
/sphinx_immaterial/LICENSE

# user specific
.vscode/

# pybind11 tests' build artifacts
tests/**/build/
tests/**/*.egg-info/
tests/**/*.so
tests/**/*.pyd
