# Set the default behavior, in case people have core.autocrlf set differently.
* text=input

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text eol=lf
*.rst text eol=lf
*.scss text eol=lf