coverage[toml] >= 7.0
pytest
pytest-snapshot
beautifulsoup4
sphinx[test] # needed for pinned version of defusedxml
tests/issue_134/sphinx-immaterial-pybind11-issue-134

-r ../requirements.txt
-r ../requirements/cpp.txt
-r ../requirements/json.txt
-r ../requirements/jsonschema_validation.txt
-r ../requirements/keys.txt
-r ../requirements/black.txt
-r ../requirements/clang-format.txt
