/* **************************** theme-results directive special ******************** */

.result .results-prefix {
  margin-bottom: 1em;
  margin-top: 0.1rem;
  background-color: var(--md-code-bg-color);
  overflow: visible;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0 0.5rem;
}
