name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    strategy:
      matrix:
        os:
          - 'ubuntu-latest'
          - 'windows-latest'
          - 'macos-latest'
        python-version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
        node-version:
          - '16.x'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        # Need full history to determine version number.
        fetch-depth: 0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v3
      with:
        path: "**/node_modules"
        key: ${{ runner.os }}-${{ matrix.node-version }}-node_modules-${{ hashFiles('**/package-lock.json') }}
    - name: Setup Graphviz
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update && sudo apt-get install graphviz libgraphviz-dev pkg-config
        elif [ "$RUNNER_OS" == "Windows" ]; then
          choco install graphviz
        elif [ "$RUNNER_OS" == "macOS" ]; then
          brew install graphviz
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi
      shell: bash
    - run: npm install
    - run: npm run check
    - name: Install Python packaging, linting, & testing tools
      run: python -m pip install -r dev-requirements.txt -r requirements.txt -r tests/requirements.txt
    - run: mypy
    - run: pylint sphinx_immaterial/
    - run: black . --color --diff --check
    - name: Check for dirty working directory
      run: git diff --exit-code
    - name: Show package version
      run: python setup.py --version
    - name: Build wheel
      run: python setup.py sdist bdist_wheel
    - name: Upload wheels as artifacts
      uses: actions/upload-artifact@v3
      if: ${{ matrix.python-version == '3.10' }}
      with:
        name: python-packages-${{ runner.os }}
        path: |
          dist/*.whl
          dist/*.tar.*
    - name: Install wheel and docs' dependencies
      run: pip install dist/*.whl -r docs/requirements.txt
      shell: bash
    - name: Run Python tests
      run: pytest
    - name: Build html docs
      working-directory: docs
      run: sphinx-build . _build/html -W --keep-going -T
    - name: Build dirhtml docs
      working-directory: docs
      run: sphinx-build . _build/dirhtml -W --keep-going -T -b dirhtml
    - name: Build latex docs
      working-directory: docs
      run: sphinx-build -b latex . _build/latex -W --keep-going -T
    - name: Upload doc builds as artifacts
      if: ${{ matrix.python-version == '3.10' }}
      uses: actions/upload-artifact@v3
      with:
        name: doc-builds-${{ runner.os }}
        path: docs/_build/
    - name: upload docs to github pages
      # if: ${{ github.event_name == 'release'}}
      if: ${{ matrix.python-version == '3.10' && github.event_name != 'pull_request' && github.ref == 'refs/heads/main' && runner.os == 'Linux' }}
      uses: peaceiris/actions-gh-pages@de7ea6f8efb354206b205ef54722213d99067935 # pinned to v3.9.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html

  compare-wheels:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
    - name: Download Linux package
      uses: actions/download-artifact@v3
      with:
        name: python-packages-Linux
        path: dist-Linux
    - name: Download macOS package
      uses: actions/download-artifact@v3
      with:
        name: python-packages-macOS
        path: dist-macOS
    - name: Download Windows package
      uses: actions/download-artifact@v3
      with:
        name: python-packages-Windows
        path: dist-Windows
    - name: Unzip wheels
      run: |
        for os in Linux Windows macOS; do
          unzip -d pkg-$os dist-$os/*.whl
        done
    - name: Compare macOS wheel to Linux wheel
      run: diff -ur --color=always pkg-Linux pkg-macOS
    - name: Compare Windows wheel to Linux wheel
      run: diff -ur --color=always pkg-Windows pkg-Windows

  python-publish-package:
    # Only publish package on push to tag or default branch.
    if: ${{ github.event_name == 'push' && github.repository == 'jbms/sphinx-immaterial' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main') }}
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: python-packages-Linux
        path: dist
    - name: Publish to PyPI (test server)
      uses: pypa/gh-action-pypi-publish@54b39fb9371c0b3a6f9f14bb8a67394defc7a806 # 2020-09-25
      continue-on-error: true
      with:
        user: __token__
        password: ${{ secrets.pypi_test_token }}
        repository_url: https://test.pypi.org/legacy/
      if: ${{ ! startsWith(github.ref, 'refs/tags/v') }}
    - name: Publish to PyPI (main server)
      uses: pypa/gh-action-pypi-publish@54b39fb9371c0b3a6f9f14bb8a67394defc7a806 # 2020-09-25
      with:
        user: __token__
        password: ${{ secrets.pypi_token }}
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
