name: Build

on:
  push:
    branches: [main]
    tags:
      - v**
  pull_request:
    branches: [main]

jobs:
  mypy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        id: python-setup
        with:
          python-version: ${{ matrix.python-version }}
      - run: uvx nox -s mypy --python ${{ matrix.python-version }}
  check_conventions:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.x"
            node-version: "16.x"
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        id: python-setup
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache node.js modules
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-${{ matrix.node-version }}-node_modules-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - run: npm run check
      - run: uvx nox -s ruff_format ruff_lint check_yaml check_json check_toml check_eof check_trailing_space check_lf

  build:
    needs: ["mypy", "check_conventions"]
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.x"
        node-version:
          - "16.x"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          # Need full history to determine version number.
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache node.js modules
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-${{ matrix.node-version }}-node_modules-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - name: Check for dirty working directory
        run: git diff --exit-code
      - name: Build distributions
        id: dist
        run: uvx nox -s build
      - name: Install wheel
        run: |
          uv venv install-test-venv
          export VIRTUAL_ENV="${PWD}/install-test-venv"
          uv pip install dist/*.whl
        shell: bash
      - name: Upload wheels as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-packages-${{ runner.os }}
          path: |
            dist/*.whl
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2
        with:
          macos-skip-brew-update: "true"
      - uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/theme_build_cache
          key: theme-build-cache-${{ runner.os }}-${{ github.run_id }}
      - name: Build docs
        env:
          SPHINX_IMMATERIAL_EXTERNAL_RESOURCE_CACHE_DIR: ${{ github.workspace }}/theme_build_cache
        run: uvx nox -s docs --forcecolor
      - name: Upload doc builds as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: doc-builds-${{ runner.os }}
          path: docs/_build/
      - name: upload docs to github pages
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main' && runner.os == 'Linux'
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # pinned to v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html

  test:
    needs: ["build"]
    strategy:
      fail-fast: false
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        node-version:
          - "16.x"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache node.js modules
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-${{ matrix.node-version }}-node_modules-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - name: Build CSS and JS bundles
        run: npm run build
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2
        with:
          macos-skip-brew-update: "true"
      - uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/theme_build_cache
          key: theme-build-cache-${{ runner.os }}-${{ github.run_id }}
      - name: Run Python tests
        env:
          SPHINX_IMMATERIAL_EXTERNAL_RESOURCE_CACHE_DIR: ${{ github.workspace }}/theme_build_cache
          COVERAGE_FILE: .coverage.${{ github.run_id }}.${{ github.run_attempt }}.${{ runner.os }}.${{ matrix.python-version }}
          PY_COLORS: 1
        # `coverage run` cmd adds the working dir to python path, so no need to install pkg here
        run: uvx nox -s tests --forcecolor --python ${{ matrix.python-version }}
      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ runner.os }}-py${{ matrix.python-version }}
          path: .coverage*
          include-hidden-files: true

  coverage-report:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ci-artifacts
      - run: mv ci-artifacts/**/.coverage* ./
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Create coverage report
        run: uvx nox -s coverage
      - name: Upload comprehensive coverage HTML report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov/
      - name: Post coverage summary
        run: cat .coverage_.md >> $GITHUB_STEP_SUMMARY

  python-publish-package:
    # Only publish package on push to tag or default branch.
    if: ${{ github.event_name == 'push' && github.repository == 'antmicro/sphinx-immaterial' && (github.ref == 'refs/heads/main') }}
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-packages-Linux
          path: dist
      - run: mv dist/*.whl dist/sphinx_immaterial-0.0.post1.tip-py3-none-any.whl
      - uses: pyTooling/Actions/releaser@r0
        with:
          token: ${{ github.token }}
          files: dist/*.whl
